::-webkit-scrollbar { 
    display: none; 
}

html { 
    padding:0;
}

body {
    padding:0;
}

input {
    border: 0;
    color: #101111;
}

input:focus{
    outline: none;
}

.ui.list > .item .h-file .header:hover {
    color: rgb(238, 97, 221);
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
 }

 .ui.list .list > .item.h-file-item {
     padding: 3 5 3 5;
     border-radius: 5px;
 }

 .ui.list .list > .item.h-file-item.h-selected-file {
    background: rgba(223, 122, 236, 0.42);
 }

.ui.list .list > .item.h-file-item:hover {
    /* background: rgba(237, 218, 240, 0.42); */
    color:#03860A;
    cursor: pointer;
 }

.h-pointer {
     cursor: pointer;
 }